<%= form_for @service, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</div>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 5px; padding: 1em 2em 1em; max-width: 900px">
    <div class="form-group">
      <%= f.label :category_id, 'Category: ', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.collection_select :category_id, Category.all, :id, :category_name,
                              {},:class => 'form-control'%>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :service_name, 'Service*: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :service_name, :class => 'form-control', :placeholder => 'Disc Pad (Required)' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Service', :class => 'btn btn-info btn-sm'  %>
    <%= link_to 'Cancel', services_path, :class => 'btn btn-default btn-sm' %>
    </div>
  </div>
  </fieldset>
<% end %>
