<h1>Editing Service</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Service', @service, :class => 'btn btn-success btn-xs'  %>
<%= link_to 'View All Services', services_path, :class => 'btn btn-default btn-xs'  %>
