<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Service</h1>
<%= link_to 'Add New Service', new_service_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Service Name</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.id, service_path(service), :class => "btn btn-link btn-xs"  %></td>
        <td><%= service.service_name %></td>
        <td><%= if service.category; service.category.category_name end %></td>
        <td><%= link_to 'Edit', edit_service_path(service), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', service, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><p class="pagination-sm">
  <%= will_paginate @services , renderer: BootstrapPagination::Rails %>
</p></center>

