<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Service name:</strong>
  <%= @service.service_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= if @service.category; @service.category.category_name end %>
</p>

<%= link_to 'Edit', edit_service_path(@service), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Services', services_path, :class => 'btn btn-default btn-sm' %>
