<%= form_for @serviceline, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @serviceline.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@serviceline.errors.count, "error") %> prohibited this serviceline from being saved:</div>

      <ul>
      <% @serviceline.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 5px; padding: 1em 2em 1em; max-width: 900px">
    <div class="form-group">
      <%= f.label :ticket_id, 'Ticket: ', :class => 'col-sm-2 control-label'%>
      <div class="col-sm-10">
      <%= f.collection_select :ticket_id, Ticket.order("created_at DESC"), :id,
                              :ticket_info, {},:class => 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category_id, 'Category: ', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.collection_select :category_id, Category.all, :id, :category_name,
                              {},:class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :service_id, 'Service: ', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.grouped_collection_select :service_id, Category.order(:category_name), :services,
                                      :category_name, :id, :service_name, {:include_blank => 'Service'},:class => 'form-control' %>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :serviceaction_id, 'Action: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.collection_select :serviceaction_id, Serviceaction.all, :id, :action,
                            {},:class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :serviceposition_id, 'Position: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.collection_select :serviceposition_id, Serviceposition.all, :id, :position,
                            {},:class => 'form-control'  %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :employee_id, 'Employee Assigned: ', :class => 'col-sm-2 control-label'%>
      <div class="col-sm-10">
      <%= f.collection_select :employee_id, Employee.all, :id, :full_name,
                              {},:class => 'form-control' %>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :hour, 'Hour: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :hour, :class => 'form-control', :placeholder => '2' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rate, 'Rate: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <div class="input-group">
        <span class="input-group-addon">$</span>
    <%= f.text_field :rate, :class => 'form-control', :placeholder => '25' %>
        </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :part, 'Part Name: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :part, :class => 'form-control', :placeholder => 'Tire' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity, 'Quantity: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.number_field :quantity, :class => 'form-control', :placeholder => '4' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :part_price, 'Part Price: ', :class => 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <div class="input-group">
        <span class="input-group-addon">$</span>
    <%= f.text_field :part_price, :class => 'form-control', :placeholder => '70' %>
        </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subtotal, 'Estimated Subtotal: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <div class="input-group">
      <span class="input-group-addon">$</span>
    <%= f.text_field :subtotal, :readonly => true, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Service', :class => 'btn btn-info btn-sm' %>
    <button type="button" class="btn btn-default btn-sm" id="backButton">Cancel</button>
    </div>
  </div>
  </fieldset>
<% end %>
