<h1>Editing Service Line</h1>

<%= render 'form' %>
<br>
<a class = 'btn btn-success btn-xs' href="/tickets/<%= @serviceline.ticket.id %>">Back To Ticket</a>
<!--link_to 'Show', @serviceline %> -->
<%= link_to 'View All Services', servicelines_path, :class => 'btn btn-default btn-xs' %>
