<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Vehicle Services</h1>
<%= link_to 'Add New Service', new_serviceline_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#brake" data-toggle="tab">Brakes</a></li>
    <li><a href="#suspension" data-toggle="tab">Suspension</a></li>
    <li><a href="#outside" data-toggle="tab">Outside Services</a></li>
    <li><a href="#all" data-toggle="tab">All</a> </li>
  </ul>
  <div class="tab-content">

    <!--All Service Lines Tab-->
    <div class="tab-pane fade" id="all">
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Ticket</th>
      <th>Category</th>
      <th>Service</th>
      <th>Action</th>
      <th>Position</th>
      <th>Employee Assigned</th>
      <th>Hour</th>
      <th>Rate</th>
      <th>Part</th>
      <th>Quantity</th>
      <th>Part price</th>
      <th>Estimated Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <% @servicelines.each do |serviceline| %>
      <tr>
        <td><%= link_to serviceline.id, serviceline_path(serviceline), :class => "btn btn-link btn-xs"  %></td>
        <td><%= if serviceline.ticket; serviceline.ticket.ticket_info end %></td>
        <td><%= if serviceline.category; serviceline.category.category_name end %></td>
        <td><%= if serviceline.service; serviceline.service.service_name end %></td>
        <td><%= if serviceline.serviceaction; serviceline.serviceaction.action end %></td>
        <td><%= if serviceline.serviceposition; serviceline.serviceposition.position end %></td>
        <td><%= if serviceline.employee; serviceline.employee.full_name end %></td>
        <td><%= serviceline.hour %></td>
        <td><%= number_to_currency(serviceline.rate) %></td>
        <td><%= serviceline.part %></td>
        <td><%= serviceline.quantity %></td>
        <td><%= number_to_currency(serviceline.part_price) %></td>
        <td><%= number_to_currency(serviceline.subtotal) %></td>
        <td><%= link_to 'Edit', edit_serviceline_path(serviceline), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', serviceline, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>

    <!--Brakes Tab-->
    <div class="tab-pane fade active in" id="brake">
      <table id="myTable" class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>#</th>
          <th>Ticket</th>
          <th>Category</th>
          <th>Service</th>
          <th>Action</th>
          <th>Position</th>
          <th>Employee Assigned</th>
          <th>Hour</th>
          <th>Rate</th>
          <th>Part</th>
          <th>Quantity</th>
          <th>Part price</th>
          <th>Estimated Subtotal</th>
        </tr>
        </thead>

        <tbody>
        <% @brake.each do |serviceline| %>
            <tr>
              <td><%= link_to serviceline.id, serviceline_path(serviceline), :class => "btn btn-link btn-xs"  %></td>
              <td><%= if serviceline.ticket; serviceline.ticket.ticket_info end %></td>
              <td><%= if serviceline.category; serviceline.category.category_name end %></td>
              <td><%= if serviceline.service; serviceline.service.service_name end %></td>
              <td><%= if serviceline.serviceaction; serviceline.serviceaction.action end %></td>
              <td><%= if serviceline.serviceposition; serviceline.serviceposition.position end %></td>
              <td><%= if serviceline.employee; serviceline.employee.full_name end %></td>
              <td><%= serviceline.hour %></td>
              <td><%= number_to_currency(serviceline.rate) %></td>
              <td><%= serviceline.part %></td>
              <td><%= serviceline.quantity %></td>
              <td><%= number_to_currency(serviceline.part_price) %></td>
              <td><%= number_to_currency(serviceline.subtotal) %></td>
              <td><%= link_to 'Edit', edit_serviceline_path(serviceline), :class => "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Delete', serviceline, method: :delete, data: { confirm: 'Are you sure?' },
                              :class => "btn btn-danger btn-xs"%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <!--Suspension Tab-->
    <div class="tab-pane fade" id="suspension">
      <table id="myTable" class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>#</th>
          <th>Ticket</th>
          <th>Category</th>
          <th>Service</th>
          <th>Action</th>
          <th>Position</th>
          <th>Employee Assigned</th>
          <th>Hour</th>
          <th>Rate</th>
          <th>Part</th>
          <th>Quantity</th>
          <th>Part price</th>
          <th>Estimated Subtotal</th>
        </tr>
        </thead>

        <tbody>
        <% @suspension.each do |serviceline| %>
            <tr>
              <td><%= link_to serviceline.id, serviceline_path(serviceline), :class => "btn btn-link btn-xs"  %></td>
              <td><%= if serviceline.ticket; serviceline.ticket.ticket_info end %></td>
              <td><%= if serviceline.category; serviceline.category.category_name end %></td>
              <td><%= if serviceline.service; serviceline.service.service_name end %></td>
              <td><%= if serviceline.serviceaction; serviceline.serviceaction.action end %></td>
              <td><%= if serviceline.serviceposition; serviceline.serviceposition.position end %></td>
              <td><%= if serviceline.employee; serviceline.employee.full_name end %></td>
              <td><%= serviceline.hour %></td>
              <td><%= number_to_currency(serviceline.rate) %></td>
              <td><%= serviceline.part %></td>
              <td><%= serviceline.quantity %></td>
              <td><%= number_to_currency(serviceline.part_price) %></td>
              <td><%= number_to_currency(serviceline.subtotal) %></td>
              <td><%= link_to 'Edit', edit_serviceline_path(serviceline), :class => "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Delete', serviceline, method: :delete, data: { confirm: 'Are you sure?' },
                              :class => "btn btn-danger btn-xs"%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <!--Outside Services Tab-->
    <div class="tab-pane fade" id="outside">
      <table id="myTable" class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>#</th>
          <th>Ticket</th>
          <th>Category</th>
          <th>Service</th>
          <th>Action</th>
          <th>Position</th>
          <th>Employee Assigned</th>
          <th>Hour</th>
          <th>Rate</th>
          <th>Part</th>
          <th>Quantity</th>
          <th>Part price</th>
          <th>Estimated Subtotal</th>
        </tr>
        </thead>

        <tbody>
        <% @outside.each do |serviceline| %>
            <tr>
              <td><%= link_to serviceline.id, serviceline_path(serviceline), :class => "btn btn-link btn-xs"  %></td>
              <td><%= if serviceline.ticket; serviceline.ticket.ticket_info end %></td>
              <td><%= if serviceline.category; serviceline.category.category_name end %></td>
              <td><%= if serviceline.service; serviceline.service.service_name end %></td>
              <td><%= if serviceline.serviceaction; serviceline.serviceaction.action end %></td>
              <td><%= if serviceline.serviceposition; serviceline.serviceposition.position end %></td>
              <td><%= if serviceline.employee; serviceline.employee.full_name end %></td>
              <td><%= serviceline.hour %></td>
              <td><%= number_to_currency(serviceline.rate) %></td>
              <td><%= serviceline.part %></td>
              <td><%= serviceline.quantity %></td>
              <td><%= number_to_currency(serviceline.part_price) %></td>
              <td><%= number_to_currency(serviceline.subtotal) %></td>
              <td><%= link_to 'Edit', edit_serviceline_path(serviceline), :class => "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Delete', serviceline, method: :delete, data: { confirm: 'Are you sure?' },
                              :class => "btn btn-danger btn-xs"%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

