<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Ticket:</strong>
  <%= if @serviceline.ticket; @serviceline.ticket.ticket_info end %>
</p>
<p>
  <strong>Category:</strong>
  <%= if @serviceline.category; @serviceline.category.category_name end %>
</p>
<p>
  <strong>Service:</strong>
  <%= if @serviceline.service; @serviceline.service.service_name end %>
</p>
<p>
  <strong>Action:</strong>
  <%= if @serviceline.serviceaction; @serviceline.serviceaction.action end %>
</p>
<p>
  <strong>Position:</strong>
  <%= if @serviceline.serviceposition; @serviceline.serviceposition.position end %>
</p>
<p>
  <strong>Employee Assigned:</strong>
  <%= if @serviceline.employee; @serviceline.employee.full_name end %>
</p>
<p>
  <strong>Hour:</strong>
  <%= @serviceline.hour %>
</p>
<p>
  <strong>Rate:</strong>
  <%= number_to_currency(@serviceline.rate) %>
</p>
<p>
  <strong>Part:</strong>
  <%= @serviceline.part %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @serviceline.quantity %>
</p>
<p>
  <strong>Part price:</strong>
  <%= number_to_currency(@serviceline.part_price) %>
</p>
<p>
  <strong>Subtotal:</strong>
  <%= number_to_currency(@serviceline.subtotal) %>
</p>
<%= link_to 'Add Another Service', new_serviceline_path, :class => 'btn btn-info btn-sm'  %>
<a class = 'btn btn-success btn-sm' href="/tickets/<%= @serviceline.ticket.id %>">See Ticket Total</a>
<%= link_to 'Edit Service', edit_serviceline_path(@serviceline), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Services', servicelines_path, :class => 'btn btn-default btn-sm' %>
