<h1>Editing Service Action</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Action', @serviceaction, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Actions', serviceactions_path, :class => 'btn btn-default btn-xs' %>
