<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Service Actions</h1>
<%= link_to 'Add New Service Action', new_serviceaction_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Service Action</th>
    </tr>
  </thead>

  <tbody>
    <% @serviceactions.each do |serviceaction| %>
      <tr>
        <td><%= link_to serviceaction.id, serviceaction_path(serviceaction), :class => "btn btn-link btn-xs" %></td>
        <td><%= serviceaction.action %></td>
        <td><%= link_to 'Edit', edit_serviceaction_path(serviceaction), :class => "btn btn-primary btn-xs"  %></td>
        <td><%= link_to 'Delete', serviceaction, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


