<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Action:</strong>
  <%= @serviceaction.action %>
</p>

<%= link_to 'Edit', edit_serviceaction_path(@serviceaction), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Actions', serviceactions_path, :class => 'btn btn-default btn-sm' %>
