<h1>Editing Model</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Model', @model, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Models', models_path, :class => 'btn btn-default btn-xs' %>
