<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Car Model</h1>
<%= link_to 'Add New Model', new_model_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table  id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Model</th>
      <th>Make</th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= link_to model.id, model_path(model), :class => "btn btn-link btn-xs" %></td>
        <td><%= model.model %></td>
        <td><%= if model.make; model.make.make end %></td>
        <td><%= link_to 'Edit', edit_model_path(model), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', model, method: :delete, data: { confirm: 'Are you sure?'},
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><p class="pagination-sm">
  <%= will_paginate @makes , renderer: BootstrapPagination::Rails %>
</p></center>

