<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Model:</strong>
  <%= @model.model %>
</p>

<p>
  <strong>Make:</strong>
  <%= if @model.make; @model.make.make end %>
</p>

<%= link_to 'Edit', edit_model_path(@model), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Models', models_path, :class => 'btn btn-default btn-sm'  %>
