<%= form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</div>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 5px; padding: 1em 1em 1em; max-width: 900px">
  <div class="form-group">
    <%= f.label :last_name, 'Name*:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'First Name (Required)' %>
    <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name (Required)' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, 'Phone*:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :phone, :class => 'form-control', :placeholder => '5555555555 (Required)' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :position, 'Position:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :position, :class => 'form-control', :placeholder => 'Technician' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit'Add Employee', :class => 'btn btn-info btn-sm' %>
      <%= link_to 'Cancel', employees_path, :class => 'btn btn-default btn-sm' %>
    </div>
  </div>
  </fieldset>
<% end %>
