<h1>Editing Employee</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Employee', @employee, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Employees', employees_path, :class => 'btn btn-default btn-xs' %>
