<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<p>
<h1><%= @employee.full_name %></h1>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Employees', employees_path, :class => 'btn btn-default btn-sm' %>
