<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Car Make</h1>
<%= link_to 'Add New Make', new_make_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table  id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Make</th>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= link_to make.id, make_path(make), :class => "btn btn-link btn-xs" %></td>
        <td><%= make.make %></td>
        <td><%= link_to 'Edit', edit_make_path(make), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', make, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><p class="pagination-sm">
  <%= will_paginate @makes , renderer: BootstrapPagination::Rails %>
</p></center>

