<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Make:</strong>
  <%= @make.make %>
</p>
<%= link_to 'Add New Model', new_model_path, :class => 'btn btn-info btn-sm' %>
<%= link_to 'Edit', edit_make_path(@make), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Makes', makes_path, :class => 'btn btn-default btn-sm' %>
