<h1>Editing Service Position</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Position', @serviceposition, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Positions', servicepositions_path, :class => 'btn btn-default btn-xs' %>
