<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Service Positions</h1>
<%= link_to 'Add New Service Position', new_serviceposition_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <% @servicepositions.each do |serviceposition| %>
      <tr>
        <td><%= link_to serviceposition.id, serviceposition_path(serviceposition), :class => "btn btn-link btn-xs"  %></td>
        <td><%= serviceposition.position %></td>
        <td><%= link_to 'Edit', edit_serviceposition_path(serviceposition), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', serviceposition, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


