<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Position:</strong>
  <%= @serviceposition.position %>
</p>

<%= link_to 'Edit', edit_serviceposition_path(@serviceposition), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Positions', servicepositions_path, :class => 'btn btn-default btn-sm' %>
