<%= form_for @transmission, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @transmission.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@transmission.errors.count, "error") %> prohibited this transmission from being saved:</div>

      <ul>
      <% @transmission.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 5px; padding: 1em 2em 1em; max-width: 900px">
  <div class="form-group">
    <%= f.label :transmission, 'Transmission*: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :transmission, :class => 'form-control', :placeholder => 'Automatic (Required)' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Transmission', :class => 'btn btn-info btn-sm' %>
    <%= link_to 'Cancel', transmissions_path, :class => 'btn btn-default btn-sm'  %>
    </div>
  </div>
  </fieldset>
<% end %>
