<h1>Editing Transmission</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Transmission', @transmission, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Transmissions', transmissions_path, :class => 'btn btn-default btn-xs' %>
