<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Car Transmission</h1>
<%= link_to 'Add New Transmission', new_transmission_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Transmission</th>
    </tr>
  </thead>

  <tbody>
    <% @transmissions.each do |transmission| %>
      <tr>
        <td><%= link_to transmission.id, transmission_path(transmission), :class => "btn btn-link btn-xs" %></td>
        <td><%= transmission.transmission %></td>
        <td><%= link_to 'Edit', edit_transmission_path(transmission), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', transmission, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


