<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Transmission:</strong>
  <%= @transmission.transmission %>
</p>

<%= link_to 'Edit', edit_transmission_path(@transmission), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Transmissions', transmissions_path, :class => 'btn btn-default btn-sm' %>
