<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</div>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
   <% end %>

  <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
          margin: 0 5px; padding: 1em 1em 1em; max-width: 900px">
  <div class="form-group">
    <%= f.label :last_name, 'Name*:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'First Name (Required)' %>
    <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Last Name (Required)' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, "Address:", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :address, :class => 'form-control', :placeholder => 'Home Address' %>
    <%= f.text_field :city, :class => 'form-control col-sm-3', :placeholder => 'City' %>
    <%= f.text_field :state, :class => 'form-control col-sm-2', :placeholder => 'State (e.g. TX)' %>
    <%= f.number_field :zip, :class => 'form-control col-sm-2', :placeholder => 'ZIP' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, 'Phone*:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :phone, :class => 'form-control', :placeholder => '5555555555 (Required)' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, 'E-mail:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :email, :class => 'form-control', :placeholder => 'john.doe@gmail.com' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :additional_contact, 'Additional Contact:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :additional_contact, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Customer', :class => 'btn btn-info btn-sm' %>
    <%= link_to 'Cancel', customers_path, :class => 'btn btn-default btn-sm' %>
    </div>
  </div>
    </fieldset>

<% end %>
