<h1>Editing Customer</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Customer', @customer, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Customers', customers_path, :class => 'btn btn-default btn-xs' %>
