<%= form_tag customers_path, :html => { :class => "form-horizontal"}, :method => 'get', :id => "simplesearch" do %>
    <fieldset style="background-color: #f4f4f4; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 2px; padding: 0.35em 0.625em 0.75em;" >
      <legend>Search Customer</legend>
      <%= text_field_tag :simplesearch, params[:simplesearch], placeholder: "Enter Name or Phone Number to Search",
                         :id => 'search_field', :class => 'col-xs-6' %>
      <%= submit_tag "Search", :customer_vehicle => nil, :customer_vehicle =>  nil, :total => nil, :class => 'btn btn-default  btn-xs' %>
      <%= link_to 'Clear', customers_path, :class => 'btn btn-success btn-xs' %>
      <%= link_to 'Advanced Search', customers_search_path, :class => "btn btn-info btn-xs" %>
    </fieldset>
<% end %>
<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Customer</h1>
<%= link_to 'Add New Customer', new_customer_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>ZIP</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Additional Contact</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.id, customer_path(customer), :class => "btn btn-link btn-xs" %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>
        <td><%= number_to_phone(customer.phone, area_code: true) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.additional_contact %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><p class="pagination-sm">
  <%= will_paginate @customers , renderer: BootstrapPagination::Rails %>
</p></center>

