<p id="notice"><%= notice %></p>
<fieldset style="background-color: #f4f4f4; opacity: 1; border: 1px solid #c0c0c0;
        margin: 0 5px; padding: 1em 2em 1em;">
<div id="search" class="form-group">
  <%= form_tag customers_search_path, :remote => true, :method => 'get', :class => 'form-inline' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field', :class => 'form-control' %>
      <%= collection_select :condition, params[:to_s], Customer.column_names, :to_s, :titleize, {}, :class => 'form-control' %>
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-info btn-sm' %>
  <% end %>
  <h2>Results</h2>
  <table id="results" class="table table-striped table-condensed table-hover">
    <thead>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>Email</th>
    </thead>
    <tbody>
    <% @customers.each do |customer| %>
        <tr class="info">
          <td><%= link_to customer.full_name, :action => 'show', :id => customer.id  %></td>
          <td><%= customer.address %></td>
          <td><%= customer.city %></td>
          <td><%= customer.state %></td>
          <td><%= customer.zip %></td>
          <td><%= customer.phone %></td>
          <td><%= customer.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

       <script>
      $("#search > form").submit(customer_results)
      $("#search_field").bind("keyup mouseup mousewheel", customer_results)
      $("#function_").on("change", function(){customer_results()})
      function customer_results() {
          var url = $("#search > form").attr("action") + "?" + $("#search > form").serialize();
          var results_page = " #results"
          if ($("#search_field").val().length > 0) {
              $("#results").load(url + results_page)
          }
      }
  </script>
</div>
</fieldset>
