<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<p>
<h2><%= @customer.full_name %></h2>
</p>
<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@customer.phone, area_code: true) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Additional contact:</strong>
  <%= @customer.additional_contact %>
</p>
<center><p class="lead">Vehicles Owned</p></center>
<table class="table table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th>ID</th>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>License</th>
    <th>Mile</th>
    <th>Engine</th>
    <th>Transmission</th>
    <th>VIN</th>
    <th>Action</th>
  </tr>
  </thead>
  <% @customer.vehicles.each do |car| %>
      <tr class="info">
        <td><%= link_to car.id, vehicle_path(car) %></td>
        <td><%= car.year %></td>
        <td><%= if car.make; car.make.make end %></td>
        <td><%= if car.model; car.model.model end %></td>
        <td><%= car.license %></td>
        <td><%= car.mile %></td>
        <td><%= car.engine %></td>
        <td><%= if car.transmission; car.transmission.transmission end %></td>
        <td><%= car.vin %></td>
        <td><%= link_to 'Edit Vehicle', edit_vehicle_path(car), :class => 'btn btn-info btn-xs' %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Add New Vehicle', new_vehicle_path, :class => 'btn btn-info btn-sm' %>
<%= link_to 'Edit', edit_customer_path(@customer), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Customers', customers_path, :class => 'btn btn-default btn-sm' %>
