<div class="center jumbotron">
<h1>Help Page</h1>

  <h3 class="page-header">User Manual</h3>
  <h5> This user manual is used to provide users a guide on how to perform different activities
  in this application. Please click on the button below to download.</h5>
  <h4><%= link_to " Download", '/User_Manual.pdf', class:'btn btn-info btn-lg glyphicon glyphicon-download-alt' %></h4>
  <h3 class="page-header">Frequently Asked Questions</h3>
  <h5><%= link_to "1. How do I add a new Category?", categories_path %></h5>
  <h5><%= link_to "2. How do I add a new Service?", services_path %></h5>
  <h5><%= link_to "3. How do I add a new Service Action?", serviceactions_path %></h5>
  <h5><%= link_to "4. How do I add a new Service Position?", servicepositions_path %></h5>
  <h5><%= link_to "5. How do I add a new Ticket Status?", ticketstatuses_path %></h5>

</div>