<!---------

  CAROUSEL

  ----------->
<div id="myCarousel" class="carousel slide animated fadeIn" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
    <li class="" data-slide-to="1" data-target="#myCarousel"></li>
    <li class="" data-slide-to="2" data-target="#myCarousel"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to image_tag("car2.jpg", :alt => "First Slide"), {:class => "first-slide"} %>
      <div class="container">
        <div class="carousel-caption">
          <h1>
            TRACKING CUSTOMERS
          </h1>
          <%= link_to 'ADD NEW CUSTOMER', new_customer_path, :class => 'btn btn-info btn-sm' %>
        </div>
      </div>
    </div>

    <div class="item">
      <%= link_to image_tag("car4.jpg", :alt => "Second Slide"), {:class => "second-slide"} %>
      <div class="container">
        <div class="carousel-caption">
          <h1>
            TRACKING VEHICLES
          </h1>
          <%= link_to 'ADD NEW VEHICLE', new_vehicle_path, :class => 'btn btn-info btn-sm'%>
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("car3.jpg", :alt => "Third Slide"), {:class => "third-slide"} %>
      <div class="container">
        <div class="carousel-caption">
          <h2>
            TRACKING TICKETS AND SERVICES
          </h2>
          <%= link_to 'ADD NEW TICKET', new_ticket_path, :class => 'btn btn-info btn-sm' %>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control hidden-xs" href="/#myCarousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
  <a class="right carousel-control hidden-xs" href="/#myCarousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
  </div>

  <!---------

    Container

    ----------->
  <div class="center jumbotron">
  <center><h2>Welcome to Absolute Suspension Application Homepage</h2></center>
  <h2 class="lead">Tickets</h2>
    <%= link_to 'Add New Ticket', new_ticket_path, :class => 'btn btn-info btn-sm' %>
    <br><br>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
      <li><a href="#complete" data-toggle="tab">Complete</a></li>
      <li><a href="#all" data-toggle="tab">All</a> </li>
    </ul>

    <div class="tab-content">
      <!--All Tickets Tab-->
      <div class="tab-pane fade" id="all">
        <table id="myTable" class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Vehicle</th>
            <th>Note</th>
            <th>Ticket Status</th>
            <th>Total</th>
            <th>Created</th>
          </tr>
          </thead>
          <tbody>
          <% @tickets.each do |ticket| %>
              <tr>
                <td><%= link_to ticket.id, ticket_path(ticket), :class => "btn btn-link btn-xs" %></td>
                <td><%= if ticket.vehicle; ticket.vehicle.customer.full_name end %></td>
                <td><%= if ticket.vehicle; ticket.vehicle.vehicle_info end %></td>
                <td><%= ticket.note %></td>
                <td><%= if ticket.ticketstatus; ticket.ticketstatus.status end %></td>
                <td><%= number_to_currency(ticket.total) %></td>
                <td><%= ticket.created_at.strftime("%D") %></td>
                <td><%= link_to "Print PDF", ticket_path(ticket, :format => 'pdf'),:class => "btn btn-success btn-xs"%></td>
                <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => "btn btn-primary btn-xs" %></td>
                <td><%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' },
                                :class => "btn btn-danger btn-xs"%></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <!--Pending Tab-->
      <div class="tab-pane fade active in" id="pending">
        <table id="myTable" class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Vehicle</th>
            <th>Note</th>
            <th>Ticket Status</th>
            <th>Total</th>
            <th>Created</th>
          </tr>
          </thead>
          <tbody>
          <% @pending_tickets.each do |ticket| %>
              <tr>
                <td><%= link_to ticket.id, ticket_path(ticket), :class => "btn btn-link btn-xs" %></td>
                <td><%= if ticket.vehicle; ticket.vehicle.customer.full_name end %></td>
                <td><%= if ticket.vehicle; ticket.vehicle.vehicle_info end %></td>
                <td><%= ticket.note %></td>
                <td><%= if ticket.ticketstatus; ticket.ticketstatus.status end %></td>
                <td><%= number_to_currency(ticket.total) %></td>
                <td><%= ticket.created_at.strftime("%D") %></td>
                <td><%= link_to "Print PDF", ticket_path(ticket, :format => 'pdf'),:class => "btn btn-success btn-xs"%></td>
                <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => "btn btn-primary btn-xs" %></td>
                <td><%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' },
                                :class => "btn btn-danger btn-xs"%></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!--Complete Tab-->
      <div class="tab-pane fade" id="complete">
        <table id="myTable" class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Vehicle</th>
            <th>Note</th>
            <th>Ticket Status</th>
            <th>Total</th>
            <th>Created</th>
          </tr>
          </thead>
          <tbody>
          <% @complete_tickets.each do |ticket| %>
              <tr>
                <td><%= link_to ticket.id, ticket_path(ticket), :class => "btn btn-link btn-xs" %></td>
                <td><%= if ticket.vehicle; ticket.vehicle.customer.full_name end %></td>
                <td><%= if ticket.vehicle; ticket.vehicle.vehicle_info end %></td>
                <td><%= ticket.note %></td>
                <td><%= if ticket.ticketstatus; ticket.ticketstatus.status end %></td>
                <td><%= number_to_currency(ticket.total) %></td>
                <td><%= ticket.created_at.strftime("%D") %></td>
                <td><%= link_to "Print PDF", ticket_path(ticket, :format => 'pdf'),:class => "btn btn-success btn-xs"%></td>
                <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => "btn btn-primary btn-xs" %></td>
                <td><%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' },
                                :class => "btn btn-danger btn-xs"%></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>



    </div>
  </div>
