<%= form_for @ticket, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</div>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 5px; padding: 1em 2em 1em; max-width: 900px">
    <div class="form-group">
      <%= f.label :vehicle_id, 'Vehicle:', :class => 'col-sm-2 control-label'%>
      <div class="col-sm-10">
      <%= f.collection_select :vehicle_id, Vehicle.order("created_at DESC"), :id, :customer_vehicle,
                              {}, :class => 'form-control'%>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :note, 'Note:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_area :note, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ticketstatus, 'Ticket Status:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.collection_select :ticketstatus_id, Ticketstatus.all, :id, :status,
                            {}, :class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, 'Total:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <form class="form-inline"><div class="input-group">
        <div class="input-group-addon">$</div>
    <%= f.text_field :total, :readonly => true, :class => 'form-control' %>
      </div></form>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Ticket', :class => 'btn btn-info btn-sm' %>
      <%= link_to 'Cancel', tickets_path, :class => 'btn btn-default btn-sm' %>
    </div>
  </div>
  </fieldset>
<% end %>
