<fieldset>
  <%= f.label :category_id, "Category" %>
  <%= collection_select :serviceline_id, :category_id, Category.all, :id, :category_name %>
  <%= f.label :service_id, "Service" %>
  <%= grouped_collection_select :serviceline_id, :service_id, Category.order(:category_name),
                                :services, :category_name, :id, :service_name %>
  <%= f.label :action %>
  <%= f.select :action, ['Remove & Replace', 'Remove & Install', 'Install', 'Adjust', 'Set 2 wheel alignment',
                      'Set 4 wheel alignment', 'Set  rear thrust', 'Parts', 'Other', 'Alignment and Suspension Inspection',
                      'Perform Brake Inspection', 'Rotate Rites'] %>
  <%= f.label :position %>
  <%= f.select :position, ['L-Front', 'R-Font', 'Front', 'L-Rear', 'R-Rear', 'Rear', 'L-Upper', 'R-Upper',
                           'L-Lower', 'R-Lower', 'L-Inner', 'R-Inner', 'L-Outer', 'R-Outer', 'All'] %></br>
  <%= f.label :employee_id, "Employee" %>
  <%= collection_select :service_line_id, :employee_id, Employee.all, :id, :full_name %>
  <%= f.label :hour, "Hour" %>
  <%= f.text_field :hour %>
  <%= f.label :rate %>
  <%= f.text_field :rate %></br>
  <%= f.label :part %>
  <%= f.text_field :part %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.label :part_price %>
  <%= f.text_field :part_price %>
  <%= f.label :subtotal %>
  <%= f.text_field :subtotal %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove Service", '#', class: "remove_fields btn btn-danger btn-xs" %>
</fieldset>
