<h1>Editing Ticket</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Ticket', @ticket, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Tickets', tickets_path, :class => 'btn btn-default btn-xs' %>
