
<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Tickets</h1>
<%= link_to 'Add New Ticket', new_ticket_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
    <li><a href="#complete" data-toggle="tab">Complete</a></li>
    <li><a href="#all" data-toggle="tab">All</a> </li>
  </ul>

  <div class="tab-content">
    <!--All Tickets Tab-->
    <div class="tab-pane fade" id="all">
      <table id="myTable" class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Vehicle</th>
          <th>Note</th>
          <th>Ticket Status</th>
          <th>Total</th>
          <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <% @tickets.each do |ticket| %>
            <tr>
              <td><%= link_to ticket.id, ticket_path(ticket), :class => "btn btn-link btn-xs" %></td>
              <td><%= if ticket.vehicle; ticket.vehicle.customer.full_name end %></td>
              <td><%= if ticket.vehicle; ticket.vehicle.vehicle_info end %></td>
              <td><%= ticket.note %></td>
              <td><%= if ticket.ticketstatus; ticket.ticketstatus.status end %></td>
              <td><%= number_to_currency(ticket.total) %></td>
              <td><%= ticket.created_at.strftime("%D") %></td>
              <td><%= link_to "Print PDF", ticket_path(ticket, :format => 'pdf'),:class => "btn btn-success btn-xs"%></td>
              <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' },
                              :class => "btn btn-danger btn-xs"%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <!--Pending Tab-->
    <div class="tab-pane fade active in" id="pending">
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Customer</th>
      <th>Vehicle</th>
      <th>Note</th>
      <th>Ticket Status</th>
      <th>Total</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket_path(ticket), :class => "btn btn-link btn-xs" %></td>
        <td><%= if ticket.vehicle; ticket.vehicle.customer.full_name end %></td>
        <td><%= if ticket.vehicle; ticket.vehicle.vehicle_info end %></td>
        <td><%= ticket.note %></td>
        <td><%= if ticket.ticketstatus; ticket.ticketstatus.status end %></td>
        <td><%= number_to_currency(ticket.total) %></td>
        <td><%= ticket.created_at.strftime("%D") %></td>
        <td><%= link_to "Print PDF", ticket_path(ticket, :format => 'pdf'),:class => "btn btn-success btn-xs"%></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
      </div>
    <!--Complete Tab-->
    <div class="tab-pane fade" id="complete">
      <table id="myTable" class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>#</th>
          <th>Customer</th>
          <th>Vehicle</th>
          <th>Note</th>
          <th>Ticket Status</th>
          <th>Total</th>
          <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <% @complete_tickets.each do |ticket| %>
            <tr>
              <td><%= link_to ticket.id, ticket_path(ticket), :class => "btn btn-link btn-xs" %></td>
              <td><%= if ticket.vehicle; ticket.vehicle.customer.full_name end %></td>
              <td><%= if ticket.vehicle; ticket.vehicle.vehicle_info end %></td>
              <td><%= ticket.note %></td>
              <td><%= if ticket.ticketstatus; ticket.ticketstatus.status end %></td>
              <td><%= number_to_currency(ticket.total) %></td>
              <td><%= ticket.created_at.strftime("%D") %></td>
              <td><%= link_to "Print PDF", ticket_path(ticket, :format => 'pdf'),:class => "btn btn-success btn-xs"%></td>
              <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => "btn btn-primary btn-xs" %></td>
              <td><%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' },
                              :class => "btn btn-danger btn-xs"%></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>



    </div>
  </div>




