<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<p>
  <h2><%= if @ticket.vehicle; @ticket.vehicle.customer.full_name end %> - Ticket #<%= @ticket.id%>
  - <%= if @ticket.ticketstatus; @ticket.ticketstatus.status end %></h2>
</p>
<p>
  <strong>Phone:</strong>
  <%= if @ticket.vehicle; number_to_phone(@ticket.vehicle.customer.phone, area_code: true) end %>
</p>
<p>
  <strong>Vehicle:</strong>
  <%= if @ticket.vehicle; @ticket.vehicle.yearmakemodel end %>
</p>
<p>
  <strong>License Plate:</strong>
  <%= if @ticket.vehicle; @ticket.vehicle.license end %>
</p>
<p>
  <strong>Note:</strong>
  <%= @ticket.note %>
</p>

<center><p class="lead">Services</p></center>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Service</th>
      <th>Action</th>
      <th>Position</th>
      <th>Employee Assigned</th>
      <th>Hour</th>
      <th>Rate</th>
      <th>Part</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Estimated Subtotal</th>
      <th>Action</th>
    </tr>
  </thead>
<% @ticket.servicelines.each do |line| %>
    <tr class="info">
      <td><%= link_to line.id, serviceline_path(line) %></td>
      <td><%= if line.category; line.category.category_name end %></td>
      <td><%= if line.service; line.service.service_name end %></td>
      <td><%= if line.serviceaction; line.serviceaction.action end %></td>
      <td><%= if line.serviceposition; line.serviceposition.position end %></td>
      <td><%= if line.employee; line.employee.full_name end %></td>
      <td><%= line.hour %></td>
      <td><%= number_to_currency(line.rate) %></td>
      <td><%= line.part %></td>
      <td><%= line.quantity %></td>
      <td><%= number_to_currency(line.part_price) %></td>
      <td><%= number_to_currency(line.subtotal) %></td>
      <td><%= link_to 'Edit Service', edit_serviceline_path(line), :class => 'btn btn-info btn-xs' %></td>
      <td><%= link_to 'Delete', line, method: :delete, data: { confirm: 'Are you sure?' },
                      :class => "btn btn-danger btn-xs"%></td>
    </tr>
 <% end %>
</table>

<h4 align="right">
  <strong>Total:</strong>
  <%= number_to_currency(@ticket.total) %>
</h4>
<%= link_to 'Add a Service', new_serviceline_path, :class => 'btn btn-info btn-sm' %>
<%= link_to "Print PDF", ticket_path(@ticket, :format => 'pdf'), :class => 'btn btn-success btn-sm'%>
<%= link_to 'Edit Ticket', edit_ticket_path(@ticket), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Tickets', tickets_path, :class => 'btn btn-default btn-sm' %>
