<%= form_for @ticketstatus, :html => { :class => 'form-horizontal' }  do |f| %>
  <% if @ticketstatus.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@ticketstatus.errors.count, "error") %> prohibited this ticketstatus from being saved:</div>

      <ul>
      <% @ticketstatus.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 5px; padding: 1em 2em 1em; max-width: 900px">
  <div class="form-group">
    <%= f.label :status, 'Ticket Status*: ', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :status, :class => 'form-control', :placeholder => 'Pending (Required)' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Status', :class => 'btn btn-info btn-sm' %>
    <%= link_to 'Cancel', ticketstatuses_path, :class => 'btn btn-default btn-sm' %>
    </div>
  </div>
  </fieldset>
<% end %>
