<h1>Editing Ticket Status</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Status', @ticketstatus, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Statuses', ticketstatuses_path, :class => 'btn btn-default btn-xs' %>
