<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Ticket Status</h1>
<%= link_to 'Add New Status', new_ticketstatus_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @ticketstatuses.each do |ticketstatus| %>
      <tr>
        <td><%= link_to ticketstatus.id, ticketstatus_path(ticketstatus), :class => "btn btn-link btn-xs" %></td>
        <td><%= ticketstatus.status %></td>
        <td><%= link_to 'Edit', edit_ticketstatus_path(ticketstatus), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', ticketstatus, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


