<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Status:</strong>
  <%= @ticketstatus.status %>
</p>

<%= link_to 'Edit', edit_ticketstatus_path(@ticketstatus), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Statuses', ticketstatuses_path, :class => 'btn btn-default btn-sm' %>
