<%= form_for @vehicle, :html => { :class => 'form-horizontal' }  do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</div>
      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 5px; padding: 1em 2em 1em; max-width: 900px">
    <div class="form-group">
      <%= f.label :customer_id, 'Customer:', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :customer_id, Customer.order("created_at DESC"), :id, :full_name, {},
                              class: "form-control" %>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :year, 'Year:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.select(:year, 1960..2050, {:selected=>(f.object.year||Date.today.year)},:class => 'form-control') %>
    </div>
  </div>
  <div class="form-group">
  <%= f.label :make_id, 'Make:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.collection_select :make_id, Make.all, :id, :make, {}, :class => 'form-control' %>
    </div>
</div>
  <div class="form-group">
    <%= f.label :model_id, 'Model:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.grouped_collection_select :model_id, Make.order(:make), :models, :make, :id, :model, {},
                                    :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :license, 'License Plate*:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :license, :class => 'form-control', :placeholder => 'ABC1234 (Required)' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mile, 'Mileage:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :mile, :class => 'form-control', :placeholder => '25000' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :engine, 'Engine:',:class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :engine, :class => 'form-control', :placeholder => 'V6' %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :transmission_id, 'Transmission:',:class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.collection_select :transmission_id, Transmission.all, :id, :transmission,{},
                              :class => 'form-control' %>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :vin, 'VIN*:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :vin, :class => 'form-control', :placeholder => 'Vehicle Identification Number (Required)' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Vehicle', :class => 'btn btn-info btn-sm' %>
    <%= link_to 'Cancel', vehicles_path, :class => 'btn btn-default btn-sm' %>
  </div>
      </div>
    </fieldset>
<% end %>
