<h1>Editing Vehicle</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Vehicle', @vehicle, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Vehicles', vehicles_path, :class => 'btn btn-default btn-xs' %>
