<%= form_tag vehicles_path, :class => "form-horizontal", :method => 'get', :id => "simplesearch" do %>
    <fieldset style="background-color: #f4f4f4; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 2px; padding: 0.35em 0.625em 0.75em;" >
      <legend>Search Vehicle</legend>
      <%= text_field_tag :simplesearch, params[:simplesearch], placeholder: "Enter Customer Name or Car Make/Model to search",
                         :id => 'search_field', :class => 'col-xs-6' %>
      <%= submit_tag "Search", :class => 'btn btn-default btn-xs' %>
      <%= link_to 'Clear', vehicles_path, :class => 'btn btn-success btn-xs' %>
      <%= link_to 'Advanced Search', vehicles_search_path, :class => "btn btn-info btn-xs" %>
    </fieldset>
<% end %>

<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Vehicles</h1>
<%= link_to 'Add New Vehicle', new_vehicle_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Customer</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>License</th>
      <th>Mile</th>
      <th>Engine</th>
      <th>Transmission</th>
      <th>Vin</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= link_to vehicle.id, vehicle_path(vehicle), :class => "btn btn-link btn-xs" %></td>
        <td><%= if vehicle.customer; vehicle.customer.full_name end%></td>
        <td><%= vehicle.year %></td>
        <td><%= if vehicle.make; vehicle.make.make end %></td>
        <td><%= if vehicle.model; vehicle.model.model end %></td>
        <td><%= vehicle.license %></td>
        <td><%= number_with_precision(vehicle.mile, :precision => 0, :delimiter => ',') %></td>
        <td><%= vehicle.engine %></td>
        <td><%= if vehicle.transmission; vehicle.transmission.transmission end %></td>
        <td><%= vehicle.vin %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', vehicle, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => "btn btn-danger btn-xs"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><p class="pagination-sm">
  <%= will_paginate @customers , renderer: BootstrapPagination::Rails %>
</p></center>


