<p id="notice"><%= notice %></p>
<fieldset style="background-color: #f4f4f4; opacity: 1; border: 1px solid #c0c0c0;
        margin: 0 5px; padding: 1em 2em 1em;">
  <div id="search" class="form-group">
    <%= form_tag vehicles_search_path, :remote => true, :method => 'get', :class => 'form-inline' do %>
        <%= text_field_tag :search, params[:search], :id => 'search_field', :class => 'form-control' %>
        <select id="condition_" name="condition[]" class="form-control">
          <option value="id">Vehicle ID</option>
          <option value="customer_id">Customer ID</option>
          <option value="year">Year</option>
          <option value="make_id">Make ID</option>
          <option value="model_id">Model ID</option>
          <option value="license">License Plate</option>
          <option value="mile">Mile</option>
          <option value="engine">Engine</option>
          <option value="transmission_id">Transmission ID</option>
          <option value="vin">VIN</option>
          <option value="created_at">Created At</option>
          <option value="updated_at">Updated At</option>
        </select>
        <%= submit_tag "Search", :name => nil, :class => 'btn btn-info btn-sm' %>
    <% end %>
    <h2>Results</h2>
    <table id="results" class="table table-striped table-condensed table-hover">
      <thead>
      <th>Vehicle</th>
      </thead>
      <tbody>
      <% @vehicles.each do |vehicle| %>
          <tr class="info">
            <td><%= link_to vehicle.customer_vehicle, :action => 'show', :id => vehicle.id  %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <script>
        $("#search > form").submit(vehicle_results)
        $("#search_field").bind("keyup mouseup mousewheel", vehicle_results)
        $("#function_").on("change", function(){vehicle_results()})
        function vehicle_results() {
            var url = $("#search > form").attr("action") + "?" + $("#search > form").serialize();
            var results_page = " #results"
            if ($("#search_field").val().length > 0) {
                $("#results").load(url + results_page)
            }
        }
    </script>

  </div>
</fieldset>
