<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<p>
  <h2><%= if @vehicle.customer; @vehicle.customer.full_name end %></h2>
</p>
<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= if @vehicle.make; @vehicle.make.make end %>
</p>

<p>
  <strong>Model:</strong>
  <%= if @vehicle.model; @vehicle.model.model end %>
</p>

<p>
  <strong>License:</strong>
  <%= @vehicle.license %>
</p>

<p>
  <strong>Mile:</strong>
  <%= number_with_precision(@vehicle.mile, :precision => 0, :delimiter => ',') %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @vehicle.engine %>
</p>
<p>
  <strong>Transmission:</strong>
  <%= if @vehicle.transmission; @vehicle.transmission.transmission end %>
</p>

<p>
  <strong>VIN:</strong>
  <%= @vehicle.vin %>
</p>
<center><p class="lead">Tickets</p></center>
<table class="table table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th>Ticket #</th>
    <th>Vehicle</th>
    <th>Note</th>
    <th>Status</th>
    <th>Total</th>
    <th>Action</th>
  </tr>
  </thead>
  <% @vehicle.tickets.each do |ticket| %>
      <tr class="info">
        <td><%= link_to ticket.id, ticket_path(ticket) %></td>
        <td><%= if ticket.vehicle; ticket.vehicle.vehicle_info end %></td>
        <td><%= ticket.note %></td>
        <td><%= if ticket.ticketstatus; ticket.ticketstatus.status end %></td>
        <td><%= number_to_currency(ticket.total) %></td>
        <td><%= link_to 'Edit Ticket', edit_ticket_path(ticket), :class => 'btn btn-info btn-xs' %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Add New Ticket', new_ticket_path, :class => 'btn btn-info btn-sm' %>
<%= link_to 'Edit', edit_vehicle_path(@vehicle), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Vehicles', vehicles_path, :class => 'btn btn-default btn-sm' %>
