<%= form_for @category, :html => { :class => 'form-horizontal' }  do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</div>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li class="alert alert-dismissible alert-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset style="background-color: #E7F5FF; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 5px; padding: 1em 1em 1em; max-width: 900px">
  <div class="form-group">
    <%= f.label :category_name, 'Category*:', :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :category_name, :class => 'form-control', :placeholder => 'Brake' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit 'Add Category', :class => 'btn btn-info btn-sm' %>
      <%= link_to 'Cancel', categories_path, :class => 'btn btn-default btn-sm' %>
    </div>
  </div>
  </fieldset>
<% end %>
