<h1>Editing Category</h1>

<%= render 'form' %>
<br>
<%= link_to 'View Category', @category, :class => 'btn btn-success btn-xs' %>
<%= link_to 'View All Categories', categories_path, :class => 'btn btn-default btn-xs' %>
