<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Category</h1>
<%= link_to 'Add New Category', new_category_path, :class => 'btn btn-info btn-sm' %>
<br><br>
<table id="myTable" class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.id, category_path(category), :class => "btn btn-link btn-xs" %></td>
        <td><%= category.category_name %></td>
        <td><%= link_to 'Edit', edit_category_path(category), :class => "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


