<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Category name:</strong>
  <%= @category.category_name %>
</p>
<%= link_to 'Add A Service To Category', new_service_path, :class => 'btn btn-info btn-sm' %>
<%= link_to 'Edit', edit_category_path(@category), :class => 'btn btn-primary btn-sm' %>
<%= link_to 'View All Categories', categories_path, :class => 'btn btn-default btn-sm' %>
