<div class="jumbotron">
  <center><h2 >Total Employee Hours In Last 1 Month </h2></center>
  <center><h3 class="lead">( From <%=1.month.ago.strftime("%D") %> to <%= Time.now.strftime("%D")%> )</h3></center>
  <p><%= link_to "Print PDF", reports_employee_hour_monthly_path(@report, :format => 'pdf'), :class => 'btn btn-success' %></p>
  <table id="myTable" class="table table-striped table-hover" style="max-width: 600px">
    <thead>
    <tr bgcolor="#FFFFFF">
      <th><font size="3px">Employee</font></th>
      <th><font size="3px">Total Hour(s)</font></th>
    </tr>
    </thead>
    <tbody>
    <tr class="info">
      <td>John Bates</td>
      <td><%= Serviceline.where(:employee_id => Employee.find_by(last_name: "Bates").id, created_at: [1.month.ago..Time.now]).sum(:hour) %></td>
    </tr>
    <tr class="info">
      <td>Matt Fierro</td>
      <td><%= Serviceline.where(:employee_id => Employee.find_by(last_name: "Fierro").id, created_at: [1.month.ago..Time.now]).sum(:hour) %></td>
    </tr>
    <tr class="info">
      <td>Billy Koslosky</td>
      <td><%= Serviceline.where(:employee_id => Employee.find_by(last_name: "Koslosky").id, created_at: [1.month.ago..Time.now]).sum(:hour) %></td>
    </tr>
    </tbody>
  </table>

  <select id="thechoices" class="form-control" style="max-width: 800px">
    <option>Select Employee to View More Details</option>
    <option value="johntab">John Bates</option>
    <option value="matttab">Matt Fierro</option>
    <option value="billtab">Bill Koslosky</option>
  </select>
  <br>

  <!--John's Hours-->
 <div id="johntab">
    <div class="panel panel-info" style="max-width: 800px"><div class="panel-heading">
      <h3 class="panel-title" align="left">John Bates</h3>
    </div></div>
    <table id="myTable" class="table table-striped table-hover table-condensed" style="max-width: 800px">
      <thead>
      <tr bgcolor="#FFFFFF">
        <th>#</th>
        <th>Ticket</th>
        <th>Category</th>
        <th>Service</th>
        <th>Action</th>
        <th>Position</th>
        <th>Hour</th>
      </tr>
      </thead>

      <tbody>
      <% @monthlyhours1.each do |serviceline| %>
          <tr class="info">
            <td><%= link_to serviceline.id, serviceline_path(serviceline), :class => "btn btn-link btn-xs"  %></td>
            <td><%= if serviceline.ticket; serviceline.ticket.ticket_info end %></td>
            <td><%= if serviceline.category; serviceline.category.category_name end %></td>
            <td><%= if serviceline.service; serviceline.service.service_name end %></td>
            <td><%= if serviceline.serviceaction; serviceline.serviceaction.action end %></td>
            <td><%= if serviceline.serviceposition; serviceline.serviceposition.position end %></td>
            <td><%= serviceline.hour %></td>
            <td><%= link_to 'Edit', edit_serviceline_path(serviceline), :class => "btn btn-primary btn-xs" %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>

  <!--Matt's Hours-->
<div id="matttab">
    <div class="panel panel-info" style="max-width: 800px"><div class="panel-heading">
      <h3 class="panel-title" align="left">Matt Fierro</h3>
    </div></div>
    <table id="myTable" class="table table-striped table-hover table-condensed" style="max-width: 800px">
      <thead>
      <tr bgcolor="#FFFFFF">
        <th>#</th>
        <th>Ticket</th>
        <th>Category</th>
        <th>Service</th>
        <th>Action</th>
        <th>Position</th>
        <th>Hour</th>
      </tr>
      </thead>

      <tbody>
      <% @monthlyhours2.each do |serviceline| %>
          <tr class="info">
            <td><%= link_to serviceline.id, serviceline_path(serviceline), :class => "btn btn-link btn-xs"  %></td>
            <td><%= if serviceline.ticket; serviceline.ticket.ticket_info end %></td>
            <td><%= if serviceline.category; serviceline.category.category_name end %></td>
            <td><%= if serviceline.service; serviceline.service.service_name end %></td>
            <td><%= if serviceline.serviceaction; serviceline.serviceaction.action end %></td>
            <td><%= if serviceline.serviceposition; serviceline.serviceposition.position end %></td>
            <td><%= serviceline.hour %></td>
            <td><%= link_to 'Edit', edit_serviceline_path(serviceline), :class => "btn btn-primary btn-xs" %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>


  <!--Bill's Hours-->
<div id="billtab">
    <div class="panel panel-info" style="max-width: 800px"><div class="panel-heading">
      <h3 class="panel-title" align="left">Bill Koslosky</h3>
    </div></div>
    <table id="myTable" class="table table-striped table-hover table-condensed" style="max-width: 800px">
      <thead>
      <tr bgcolor="#FFFFFF">
        <th>#</th>
        <th>Ticket</th>
        <th>Category</th>
        <th>Service</th>
        <th>Action</th>
        <th>Position</th>
        <th>Hour</th>
      </tr>
      </thead>

      <tbody>
      <% @monthlyhours3.each do |serviceline| %>
          <tr class="info">
            <td><%= link_to serviceline.id, serviceline_path(serviceline), :class => "btn btn-link btn-xs"  %></td>
            <td><%= if serviceline.ticket; serviceline.ticket.ticket_info end %></td>
            <td><%= if serviceline.category; serviceline.category.category_name end %></td>
            <td><%= if serviceline.service; serviceline.service.service_name end %></td>
            <td><%= if serviceline.serviceaction; serviceline.serviceaction.action end %></td>
            <td><%= if serviceline.serviceposition; serviceline.serviceposition.position end %></td>
            <td><%= serviceline.hour %></td>
            <td><%= link_to 'Edit', edit_serviceline_path(serviceline), :class => "btn btn-primary btn-xs" %></td>
          </tr>
      <% end %>
      </tbody>
    </table></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#johntab').hide();
        $('#matttab').hide();
        $('#billtab').hide();
        $("#thechoices").change(function(){
            $('#johntab').hide();
            $('#matttab').hide();
            $('#billtab').hide();
            $("#" + this.value).show();
        });

        $("#thechoices").change();
    });
</script>