<div class="jumbotron">
  <center><h2>Services Revenue in Last 1 Week </h2></center>
  <center><h3 class="lead">( From <%=1.week.ago.strftime("%D") %> to <%= Time.now.strftime("%D")%> )</h3></center>
  <p><%= link_to "Print PDF", reports_service_revenue_weekly_path(@report, :format => 'pdf'), :class => 'btn btn-success' %></p>
  <table id="myTable" class="table table-striped table-hover" style="max-width: 600px">
    <thead>
    <tr bgcolor="#FFFFFF">
      <th><font size="3px">Service Type</font></th>
      <th><font size="3px">Total Services</font></th>
      <th><font size="3px">Revenue</font></th>
    </tr>
    </thead>
    <tbody>
    <tr class="info">
      <td>Brakes</td>
      <td><%= Serviceline.where(:category_id => Category.find_by(category_name: "Brakes").id, created_at: [1.week.ago..Time.now]).count %></td>
      <td><%= number_to_currency(Serviceline.where(:category_id => Category.find_by(category_name: "Brakes").id, created_at: [1.week.ago..Time.now]).sum(:subtotal)) %></td>
    </tr>
    <tr class="info">
      <td>Suspension</td>
      <td><%= Serviceline.where(:category_id => Category.find_by(category_name: "Suspension").id, created_at: [1.week.ago..Time.now]).count %></td>
      <td><%= number_to_currency(Serviceline.where(:category_id => Category.find_by(category_name: "Suspension").id, created_at: [1.week.ago..Time.now]).sum(:subtotal)) %></td>
    </tr>
    <tr class="info">
      <td>Outside Services</td>
      <td><%= Serviceline.where(:category_id => Category.find_by(category_name: "Outside Services").id, created_at: [1.week.ago..Time.now]).count %></td>
      <td><%= number_to_currency(Serviceline.where(:category_id => Category.find_by(category_name: "Outside Services").id, created_at: [1.week.ago..Time.now]).sum(:subtotal)) %></td>
    </tr>
    <tr bgcolor="#FFF1E5">
      <td><strong><font size="3px">Weekly Total</font></strong></td>
      <td><strong><font size="3px"><%= Serviceline.where(created_at: [1.week.ago..Time.now]).count %></font></strong></td>
      <td><strong><font size="3px"><%= number_to_currency(Serviceline.where(created_at: [1.week.ago..Time.now]).sum(:subtotal)) %></font></strong></td>
    </tr>
    </tbody>
  </table>
</div>
