<footer class="footer">
  <p class="muted credit text-left">
    &copy; Red Level Solutions 2015
  </p>
  <!--<nav>-->
    <!--<ul>-->
      <!--<li><%= link_to "Help", controller: "/pages", action: "help" %></li>-->
    <!--</ul>-->
  <!--</nav>-->
</footer>