<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <%= link_to image_tag('Logo1.png'), controller: "/pages", action: "home" %>
    </ul><nav>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", controller: "/pages", action: "home" %></li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Customer <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "New Customer", new_customer_path %></li>
          <li><%= link_to "View All Customers", customers_path %></li>
        </ul>
      </li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Vehicle <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'New Vehicle', new_vehicle_path %></li>
          <li><%= link_to "View All Vehicles", vehicles_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Vehicle Make", makes_path %></li>
          <li><%= link_to "Vehicle Model", models_path %></li>
          <li><%= link_to "Transmission", transmissions_path %></li>
        </ul>
      </li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Ticket <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'New Ticket', new_ticket_path %></li>
          <li><%= link_to "View All Tickets", tickets_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Service Line", servicelines_path %></li>
        </ul>
      </li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Employee <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'New Employee', new_employee_path %></li>
          <li><%= link_to "View All Employees", employees_path %></li>
        </ul>
      </li>
      <li class ="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Reports <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Weekly Employee Hours', controller: "/reports", action: "employee_hour_weekly" %></li>
          <li><%= link_to 'Monthly Employee Hours', controller: "/reports", action: "employee_hour_monthly" %>
          <li><%= link_to 'Weekly Services Revenue', controller: "/reports", action: "service_revenue_weekly" %></li>
          <li><%= link_to 'Monthly Services Revenue', controller: "/reports", action: "service_revenue_monthly" %></li>
        </ul>
      </li>
    </ul>
  </nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to pages_help_path do %>
            <span class="glyphicon glyphicon-question-sign"></span> Help
        <% end %>
            </li>
    </ul>
  </div>
</header>